body {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 4px;
    height: unset;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 900px) {
    body {
        border: 2px solid #b4b1ac;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 0px 15px;
    box-sizing: border-box;
}

a {
    text-decoration: unset;
    color: green;
}

p {
    margin: unset;
    padding: unset;
    color: #066060;
    line-height: 1.1;
}

span {
    margin: unset;
    padding: unset;
}

h1 {
    margin: unset;
    padding: unset;
    font-size: 22px;
    color: #37434d;
}

.logo {
    width: 200px;
    height: 180px;
    margin: unset;
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .logo {
        width: 200px;
        height: 180px;
    }
}

.soc {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
}

.soc-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 18px;
    }
}

.square {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    padding: 5px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    .img-container {
        justify-content: center;
    }
}

.link {
    text-decoration: unset;
    text-decoration: unset;
    font-size: 22px;
    font-weight: 500;
    color: green;
}

.imageHeader {
    position: relative;
    width: 50%;
    height: 0px;
    padding-top: 50%;
    cursor: pointer;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

button {
    padding: 5px 0px;
    border: 1px solid;
    border-radius: 5px;
    color: orange;
    background: white;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 22px;
}

.big-img {
    position: fixed;
    width: 100%;
    max-width: 500px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.popup-route, .popup-description {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.popup-description {
    height: 100%;
}

.wrapper-popup {
    position: relative;
}

.content-popup {
    box-sizing: border-box;
    background: #f7f7f7;
    width: 350px;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
}

.popup-description .content-popup {
    padding-left: 20px;
    padding-right: 20px;
}

.link-route {
    color: #17373e;
    font-size: 20px;
    margin-left: 20px;
    padding: 3px 0px;
}

.popup-close-route, .popup-close-description {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 25px;
}

.popup-description-item {
    margin-top: 20px;
}

.header-description {
    display: flex;
    flex-direction: column;
}

.plus {
    position: absolute;
    z-index: 1;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0px;
    }
}

.big-info {
    border: 2px solid #a2ae36;
    padding: 3px;
    border-radius: 5px;
    color: #a2ae36;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    font-weight: 600;
}

.header-description .links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header-description .links {
        flex-direction: column;
    }

    .header-description .links p {
        margin-top: 8px;
    }
}